<!DOCTYPE html>
<html>
<head th:replace="common/client_layout :: cssClient">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="common/client_layout :: headerClient"></header>
	<div class="banner">
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info">
								<div class="dummy_text">
									<h1>Lorem ipsum dolor sit amet, consectetur adipiscing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua.</h1>
									</h1>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="dummy_text">
									<h1>Lorem ipsum dolor sit amet, consectetur adipiscing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua.</h1>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="dummy_text">
									<h1>Lorem ipsum dolor sit amet, consectetur adipiscing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua.</h1>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<!-- FlexSlider -->
		<script defer
			src=" /client/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation : "slide",
					start : function(slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- //FlexSlider -->
	</div>

	<div class="banner-bottom1">
		<div class="banner-bottom1-grids">
			<div class="col-md-4 banner-bottom1-left banner-bottom1-left1">
				<div class="banner-bottom1-lft">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h3>Campaign</h3>
					<p>Lorem Ipsum is therefore always free.</p>
				</div>
			</div>
			<div class="col-md-4 banner-bottom1-left">
				<div class="banner-bottom1-lft">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<h3>Accessibility</h3>
					<p>Lorem Ipsum is therefore always free.</p>
				</div>
			</div>
			<div class="col-md-4 banner-bottom1-left banner-bottom1-left2">
				<div class="banner-bottom1-lft">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					<h3>Calendar</h3>
					<p>Lorem Ipsum is therefore always free.</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- body_grids -->
	<div class="wlcome">
		<div class="container">
			<div class="wlcome-grids">
				<div class="col-md-7 wlcome-grid-left">
					<div class="election_grid">
						<h3>Welcome To Election !</h3>
						<p class="nihil">Vote For Real Government.</p>
						<div class="wlcome-grid-left-grid">
							<div class="col-xs-8 wlcome-grid-left-grid">
								<h4>nihil molestiae consequatur, vel illum</h4>
								<p>Quis autem vel eum iure reprehenderit qui in ea voluptate
									velit esse quam nihil molestiae consequatur, vel illum qui
									dolorem eum fugiat quo voluptas nulla pariatur.</p>
							</div>
							<div class="col-xs-4 wlcome-grid-left-grid">
								<img
									src=" /client/images/p1.jpg"
									alt=" " class="img-responsive">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="wlcome-grid-left-grid">
							<div class="col-xs-8 wlcome-grid-left-grid">
								<h4>vel illum qui dolorem eum fugiat</h4>
								<p>Quis autem vel eum iure reprehenderit qui in ea voluptate
									velit esse quam nihil molestiae consequatur, vel illum qui
									dolorem eum fugiat quo voluptas nulla pariatur.</p>
							</div>
							<div class="col-xs-4 wlcome-grid-left-grid fgh">
								<img
									src="/client/images/p2.jpg"
									alt=" " class="img-responsive">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="services">
						<h2>Services For Our Country !</h2>
						<p class="nihil">When a politician with good intentions
							disappear politics.</p>
						<h5>Quis autem vel eum iure reprehenderit qui in ea voluptate
							velit esse quam nihil molestiae consequatur, vel illum qui
							dolorem eum fugiat quo voluptas nulla pariatur.</h5>
						<div class="banner-bottom-video-grid-left">
							<div class="panel-group" id="accordion" role="tablist"
								aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a class="pa_italic" role="button" data-toggle="collapse"
												data-parent="#accordion" href="#collapseOne"
												aria-expanded="true" aria-controls="collapseOne"> <span
												class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
												class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda
												est cliche reprehenderit
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in"
										role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="pa_italic collapsed" role="button"
												data-toggle="collapse" data-parent="#accordion"
												href="#collapseTwo" aria-expanded="false"
												aria-controls="collapseTwo"> <span
												class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
												class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque
												earum rerum
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse"
										role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="pa_italic collapsed" role="button"
												data-toggle="collapse" data-parent="#accordion"
												href="#collapseThree" aria-expanded="false"
												aria-controls="collapseThree"> <span
												class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
												class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem
												accusamus terry richa quibusdam
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse"
										role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title">
											<a class="pa_italic collapsed" role="button"
												data-toggle="collapse" data-parent="#accordion"
												href="#collapseFour" aria-expanded="false"
												aria-controls="collapseFour"> <span
												class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
												class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi
												sint cliche reprehenderit
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse"
										role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod.</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 wlcome-grid-right">
					<div class="video">
						<h4>Election Video</h4>
						<iframe
							src="https://player.vimeo.com/video/61220793?color=ffffff&title=0&byline=0&portrait=0"
							width="500" height="281" frameborder="0" webkitallowfullscreen
							mozallowfullscreen allowfullscreen></iframe>
					</div>
					<div class="upcoming">
						<h4>Upcoming Events</h4>
						<ul>
							<li><a href="#">Duis aute irure dolor in reprehenderit.</a><span>December
									15, 2015</span></li>
							<li><a href="#">Praesent vitae eros eget.</a><span>December
									20, 2015</span></li>
							<li><a href="#">rutrum sed sem quis venenatis.</a><span>December
									25, 2015</span></li>
							<li><a href="#">eros eget tellus tristique bibendum.</a><span>December
									28, 2015</span></li>
							<li><a href="#">excepturi sint occaecati.</a><span>January
									3, 2016</span></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //body_grids -->
	<footer th:replace="common/client_layout :: footerClient"></footer>
</body>
</html>